*{
    margin: 0;
    padding: 0;
    background-color: grey;
}

#box .card{
    border: 2px black solid;
    color: white;
}

#adminbuttons Button{
    margin-top: 100px;
    margin-left: 100px;
    padding-left: 200px;
}

